<div class="ng-cx-grid">
    <div class="header">
        <div class="corner" style="min-width:50px; min-height: 50px"></div>
        <div class="row-headers" cx-bind-scroll="gridScroll" io-bind-scroll-restrict-to-axis="x">
            <div class="row-header-cell" ng-repeat="cxCell in rowHeaderData track by $index">
                <div cx-grid-cell
                     io-renderer-directive="{{gridController.ioRowHeaderRenderer}}"
                     io-cx-cell="cxCell">
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="column-headers" style="min-width:50px" cx-bind-scroll="gridScroll" io-bind-scroll-restrict-to-axis="y">
            <div class="column-header-cell" ng-repeat="cxCell in columnHeaderData track by $index">
                <div cx-grid-cell
                     io-renderer-directive="{{gridController.ioColumnHeaderRenderer}}"
                     io-cx-cell="cxCell">
                </div>
            </div>
        </div>
        <div class="grid" cx-bind-scroll="gridScroll">
            <div class="grid-row" ng-repeat="row in gridData track by $index">
                <div class="cell" ng-repeat="cxCell in row track by $index">
                    <div cx-grid-cell
                         io-renderer-directive="{{gridController.ioCellRenderer}}"
                         io-cx-cell="cxCell">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
