<div class="ng-cx-grid">
    <div class="header">
        <div class="corner" style="min-width:50px; min-height: 50px"></div>
        <div class="row-headers">
            <div class="row-header-cell" ng-repeat="data in rowHeaderData">
                <div cx-grid-cell
                    io-renderer-directive="{{gridController.ioRowHeaderRenderer}}"
                     io-data-provider="data">
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="column-headers" style="min-width:50px">
            <div class="column-header-cell" ng-repeat="data in columnHeaderData">
                <div cx-grid-cell
                    io-renderer-directive="{{gridController.ioColumnHeaderRenderer}}"
                     io-data-provider="data">
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="grid-row" ng-repeat="cells in gridData">
                <div class="cell" ng-repeat="cell in cells">
                    <div cx-grid-cell
                         io-renderer-directive="{{gridController.ioCellRenderer}}"
                         io-data-provider="cell">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
