<div ng-class="{
        'error': dataProvider.score === 0,
        'warn': dataProvider.score === 1,
        'success': dataProvider.score === 2,
        'empty': dataProvider.score === 3,
        'open': dataProvider.score === 4,
        'no-response': (dataProvider.score === undefined )
    }">
    <div class="wp">
        <div class="title" ng-bind="::dataProvider.title"></div>
        <div class="label" ng-bind="::dataProvider.label"></div>
        <div class="score" ng-bind="::dataProvider.score"></div>
        <div class="no-response-label"> No <br>response <br>expected </div>
    </div>
</div>
