*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.ng-cx-grid {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: #900;

    .header {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        align-content: flex-start;

        .corner {
            width: 50px;
            height: 50px;
            background-color: #fff;
            flex-grow: 0;
        }

        .row-headers {
            display: flex;
            flex-grow: 1;
            height: 50px;
            overflow-x: scroll;
            background-color: #aaa;
        }
    }

    .body {
        display: flex;
        flex-direction: row;
        flex: 1 1;
        align-content: flex-start;

        .column-headers {
            width: 50px;
            background-color: #bbb;
            overflow-y: scroll;
        }

        .grid {
            display: flex;
            flex-grow: 1;
            background-color: #090;
            overflow: scroll;
        }
    }
}
