*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.ng-cx-grid {
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    .header {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        align-content: flex-start;

        .corner {
            flex-grow: 0;
        }

        .column-headers {
            display: flex;
            flex-grow: 1;
            overflow-x: scroll;
        }
    }

    .body {
        display: flex;
        flex-direction: row;
        flex: 1 1;
        align-content: flex-start;

        .row-headers {
            overflow-y: scroll;
        }

        .grid {
            display: flex;
            flex-grow: 1;
            overflow: scroll;
            flex-direction: column;
        }

        .grid-row{
            .cell {
                display: inline-block;
            }
        }
    }
}
